* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    

}

h1 {
    background-color: #461110;
    color:#E0FFFF;
    font-weight: 900;
    font-size: 3rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top:50px;
    align-items: center;
}

.score-board {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 3rem ;
}

#user-score,
#AI-score{
   font-size: 4rem;
   padding: 2rem;
}

.score{
    background-color: #0adeed;
    height:15rem;
    width: 15rem;
    color: #4f2675;
    transition: transform 0.5s ease;
    transform: rotateY(180deg);
}

.score:hover{
    cursor: pointer;
    transform: rotateY(0deg);
}

.msg-container{
    margin-top:5rem;
}

#msg{
    background-color: #380513;
    color: #fff;
    font-size:3rem ;
    display: inline;
    padding: 1rem;
    border-radius:1rem;
}